<!DOCTYPE html>
<html>
<head>
<title>Container Layout</title>
<!-- <link rel="stylesheet" href="{{url_for('static',filename='styles/cardio.css')}}"> -->
<link rel="stylesheet" href="C:/Users/Saanvi Tayal/OneDrive/Documents/Visual Studio 2019/AI-Yoga-Guru-V2/static/styles/cardio.css">
<!-- <script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
<script src = "C:/Users/Saanvi Tayal/OneDrive/Documents/Visual Studio 2019/AI-Yoga-Guru-V2/static/js/test.js"></script>
</head>
<body>

    <div class="flex-container">
        <div id = "cam-box" class="item cam-box">Cam</div>
        <div id = "ref" class="item ref"><video></video></div>
          <div id = "time" class= "item TiMe">TIme </div>
          <div id= "status" class="item Status">Status</div>
          <div id = "feedback" class="item Feedback">Feedback</div>
    
      </div>
</body>
</html>
