.flex-container {
display: grid ;
height: 109vh;
grid-template-columns: auto auto auto auto auto auto;
grid-template-rows: auto auto auto auto auto auto;
}

.item{
border:5px;
margin: 10px;
background-color: #0E4262 ;
border-radius: 8px;

}
.cam-box {

  grid-column: 1/span 4;
  grid-row: 1/span 6;

}

.Feedback {
 
  grid-column: 5;
  grid-row:1/span 2;

}

.TiMe {
grid-column: 6;
grid-row:1;
}
.Status{
  grid-column: 6;
 grid-row:2;
}
.ref{
  grid-column: 5/span 2;
  grid-row:3/span 3;
  }